body {
  background-color: #f1f1f1;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #e1e1e1;
}
body::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 2px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #a7ced1;
}
.gridder-navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
}
.gridder-navbar-item {
  float: left;
  position: relative;
  display: block;
  padding: 15px 20px;
  color: #777;
  line-height: 20px;
  text-decoration: none;
}
.gridder-navbar-brand img {
  max-height: 100%;
}
.gridder-container {
  padding: 0 20px;
}
/** GRID 1 **/
.gridder-post-grid {
  position: relative;
  width: 96vw;
  margin: 0 auto;
}
.gridder-post {
  transition: all 1s;
  transform-origin: 0% 0%;
  position: absolute;
  top: 0;
  left: 0;
}
.gridder-post .gridder-post-item {
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  padding: .5vw;
  overflow: hidden;
}
.gridder-post .gridder-post-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gridder-post .gridder-post-item iframe {
  width: 100%;
  height: 100%;
}
.w-24 {
  width: 96vw;
}
.h-24 {
  height: 96vw;
}
.w-23 {
  width: 92vw;
}
.h-23 {
  height: 92vw;
}
.w-22 {
  width: 88vw;
}
.h-22 {
  height: 88vw;
}
.w-21 {
  width: 84vw;
}
.h-21 {
  height: 84vw;
}
.w-20 {
  width: 80vw;
}
.h-20 {
  height: 80vw;
}
.w-19 {
  width: 76vw;
}
.h-19 {
  height: 76vw;
}
.w-18 {
  width: 72vw;
}
.h-18 {
  height: 72vw;
}
.w-17 {
  width: 68vw;
}
.h-17 {
  height: 68vw;
}
.w-16 {
  width: 64vw;
}
.h-16 {
  height: 64vw;
}
.w-15 {
  width: 60vw;
}
.h-15 {
  height: 60vw;
}
.w-14 {
  width: 56vw;
}
.h-14 {
  height: 56vw;
}
.w-13 {
  width: 52vw;
}
.h-13 {
  height: 52vw;
}
.w-12 {
  width: 48vw;
}
.h-12 {
  height: 48vw;
}
.w-11 {
  width: 44vw;
}
.h-11 {
  height: 44vw;
}
.w-10 {
  width: 40vw;
}
.h-10 {
  height: 40vw;
}
.w-9 {
  width: 36vw;
}
.h-9 {
  height: 36vw;
}
.w-8 {
  width: 32vw;
}
.h-8 {
  height: 32vw;
}
.w-7 {
  width: 28vw;
}
.h-7 {
  height: 28vw;
}
.w-6 {
  width: 24vw;
}
.h-6 {
  height: 24vw;
}
.w-5 {
  width: 20vw;
}
.h-5 {
  height: 20vw;
}
.w-4 {
  width: 16vw;
}
.h-4 {
  height: 16vw;
}
.w-3 {
  width: 12vw;
}
.h-3 {
  height: 12vw;
}
.w-2 {
  width: 8vw;
}
.h-2 {
  height: 8vw;
}
.w-1 {
  width: 4vw;
}
.h-1 {
  height: 4vw;
}
/** GRID 2 **/
.horizontal-photos-group-wrapper {
  width: 96vw;
  margin: 0.5vw auto;
  text-align: center;
}
.horizontal-photos-group-wrapper img {
  height: 100%;
  display: block;
  margin: .25vw;
  max-width: 100%;
  font-size: 0px;
  padding: 0;
  float: left;
}
.gridder-wrapper {
  overflow: hidden;
  min-height: 100%;
}
.gridder-wrapper.fixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 0 0 0 0;
  filter: blur(3px);
}
/** POPUP **/
.gridder-popup-wrap {
  background: rgba(255, 255, 255, 0.7) center center no-repeat;
  background-size: cover;
  text-align: center;
  position: absolute;
  min-height: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
  overflow-x: hidden;
}
.gridder-popup-box {
  display: inline-block;
  text-align: left;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.gridder-popup-box.opened {
  opacity: 1;
}
.gridder-popup-box.closed {
  opacity: 0;
}
.gridder-popup-box.invisible {
  height: 0;
  overflow: hidden;
}
.gridder-popup-box.invisible-false {
  height: auto;
}
.gridder-popup-header {
  text-align: center;
  position: relative;
}
.gridder-popup-close {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 0 0 0 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.gridder-popup-close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -1px;
  background: #333;
  transform: rotate(45deg);
}
.gridder-popup-close:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -1px;
  background: #333;
  transform: rotate(-45deg);
}
.gridder-popup-close:hover {
  opacity: .8;
}
.gridder-popup-content {
  padding: 30px;
  background: #f1f1f1;
}
.gridder-popup-content .gridder-post {
  position: static;
  transform: none!important;
}
.gridder-viewer .gridder-popup-content {
  padding: 0;
}
.gridder-viewer-display {
  min-width: 60vw;
  min-height: 60vh;
  position: relative;
  overflow: hidden;
}
.gridder-viewer-display-blur {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  filter: blur(12px);
  opacity: .3;
  background-size: cover;
}
.gridder-viewer-display-img {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(-50%) translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.gridder-viewer-display-pointer {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 50px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: all .1s linear;
  z-index: 1;
  margin-top: -25px;
}
.gridder-viewer-display-pointer:before {
  content: '';
  position: absolute;
  border: 2px solid #fff;
  border-left: none;
  border-bottom: none;
  width: 16px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
}
.gridder-viewer-display-pointer.disabled {
  cursor: default;
}
.gridder-viewer-display-pointer:hover:not(.disabled) {
  width: 40px;
}
.gridder-viewer-display-pointer:hover:not(.disabled).prev:before {
  left: 12px;
}
.gridder-viewer-display-pointer:hover:not(.disabled).next:before {
  right: 12px;
}
.gridder-viewer-display-pointer.prev {
  left: 0;
  border-radius: 0 50% 50% 0;
}
.gridder-viewer-display-pointer.prev:before {
  left: 9px;
  transform: rotate(-135deg);
}
.gridder-viewer-display-pointer.next {
  right: 0;
  border-radius: 50% 0 0 50%;
}
.gridder-viewer-display-pointer.next:before {
  right: 9px;
  transform: rotate(45deg);
}
.gridder-viewer-additional {
  font-weight: 600;
  position: relative;
  padding: 30px;
}
.gridder-viewer-additional:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
.gridder-viewer-wrapper.horizon .gridder-viewer-additional:before {
  display: none;
}
.gridder-viewer-wrapper.horizon .gridder-viewer-display {
  float: left;
}
.gridder-viewer-wrapper.horizon .gridder-viewer-additional {
  float: right;
  width: 220px;
}
.gridder-layout {
  border: 2px solid #fff;
}
.gridder-layout-row {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.gridder-layout-cell {
  display: table-cell;
  padding: 2px;
  overflow: hidden;
  border: 2px solid #fff;
  background: no-repeat center;
  background-size: cover;
}
.gridder-layout-cell img {
  display: none;
}
@media (max-width: 960px) {
  .w-24 {
    width: 192vw;
  }
  .h-24 {
    height: 192vw;
  }
  .w-23 {
    width: 184vw;
  }
  .h-23 {
    height: 184vw;
  }
  .w-22 {
    width: 176vw;
  }
  .h-22 {
    height: 176vw;
  }
  .w-21 {
    width: 168vw;
  }
  .h-21 {
    height: 168vw;
  }
  .w-20 {
    width: 160vw;
  }
  .h-20 {
    height: 160vw;
  }
  .w-19 {
    width: 152vw;
  }
  .h-19 {
    height: 152vw;
  }
  .w-18 {
    width: 144vw;
  }
  .h-18 {
    height: 144vw;
  }
  .w-17 {
    width: 136vw;
  }
  .h-17 {
    height: 136vw;
  }
  .w-16 {
    width: 128vw;
  }
  .h-16 {
    height: 128vw;
  }
  .w-15 {
    width: 120vw;
  }
  .h-15 {
    height: 120vw;
  }
  .w-14 {
    width: 112vw;
  }
  .h-14 {
    height: 112vw;
  }
  .w-13 {
    width: 104vw;
  }
  .h-13 {
    height: 104vw;
  }
  .w-12 {
    width: 96vw;
  }
  .h-12 {
    height: 96vw;
  }
  .w-11 {
    width: 88vw;
  }
  .h-11 {
    height: 88vw;
  }
  .w-10 {
    width: 80vw;
  }
  .h-10 {
    height: 80vw;
  }
  .w-9 {
    width: 72vw;
  }
  .h-9 {
    height: 72vw;
  }
  .w-8 {
    width: 64vw;
  }
  .h-8 {
    height: 64vw;
  }
  .w-7 {
    width: 56vw;
  }
  .h-7 {
    height: 56vw;
  }
  .w-6 {
    width: 48vw;
  }
  .h-6 {
    height: 48vw;
  }
  .w-5 {
    width: 40vw;
  }
  .h-5 {
    height: 40vw;
  }
  .w-4 {
    width: 32vw;
  }
  .h-4 {
    height: 32vw;
  }
  .w-3 {
    width: 24vw;
  }
  .h-3 {
    height: 24vw;
  }
  .w-2 {
    width: 16vw;
  }
  .h-2 {
    height: 16vw;
  }
  .w-1 {
    width: 8vw;
  }
  .h-1 {
    height: 8vw;
  }
}
@media (max-width: 768px) {
  .gridder-viewer .gridder-popup-content {
    padding: 0;
  }
  .gridder-viewer-additional {
    padding: 15px;
  }
  .gridder-popup-content {
    padding: 15px;
  }
  .horizontal-photos-group-wrapper {
    height: auto!important;
  }
  .horizontal-photos-group-wrapper .post-horizontal {
    float: none;
    height: auto;
  }
  .gridder-layout {
    border: none;
  }
  .gridder-layout-row {
    height: auto!important;
    border: none;
  }
  .gridder-layout-cell {
    display: block;
    padding: 0;
    margin: 2px;
    overflow: hidden;
    background: none;
  }
  .gridder-layout-cell img {
    display: block;
    width: 100%;
  }
}
.nclear:after {
  content: '.';
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
/** FIXME STYLES **/
.fixme.gridder-post-grid {
  overflow: hidden;
}
.fixme.gridder-post-grid .gridder-post {
  position: relative;
  float: left;
}
