@import "variables.less";


body {
	background-color: #f1f1f1;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #e1e1e1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #a1a1a1;
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #a7ced1;
    }
}

.gridder-navbar{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;

    &-item{
        float: left;
        position: relative;
        display: block;
        padding: 15px 20px;
        color: #777;
        line-height: 20px;
        text-decoration: none;
    }

    &-brand {
        img {
            max-height: 100%;
        }
    }
}

.gridder-container{
    padding: 0 20px;
}

/** GRID 1 **/
.gridder-post-grid {
	position: relative;
	width: 96vw;
	margin: 0 auto;
}

.gridder-post {
    transition: all 1s;
    transform-origin: 0% 0%;
    position: absolute;
    top: 0;
    left: 0;

    .gridder-post-item {
        left: floor(@post-gutter-width/2);
        top: floor(@post-gutter-width/2);
        width: calc(~'100% - @{post-gutter-width}');
        height: calc(~'100% - @{post-gutter-width}');
        position: absolute;
        border-radius: 3px;
        background-color: #fff;
        padding: .5vw;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.mixin-loop (@i) when (@i > 0) {
    .w-@{i} {
        width: @coll-width * @i;
    }

    .h-@{i} {
        height: @coll-width * @i;
    }

    .mixin-loop(@i - 1);
}

.mixin-loop(@grid-iterations);


/** GRID 2 **/
.horizontal-photos-group-wrapper {
    width: 96vw;
    margin: 0.5vw auto;
    text-align: center;

    img {
        height: 100%;
        display: block;
        margin: .25vw;
        max-width: 100%;
        font-size: 0px;
        padding: 0;
        float: left;
    }
}

.gridder-wrapper{
    overflow: hidden;
    min-height: 100%;

    &.fixed{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        padding: 0 0 0 0;
        filter: blur(3px);
    }
}

/** POPUP **/
.gridder-popup {
    &-wrap{
        background: rgba(255, 255, 255, 0.7) center center no-repeat;
        background-size: cover;
        text-align: center;
        position: absolute;
        min-height: 100%;
        left: 0;
        top: 0;
        right: 0;
        z-index: 3;
        overflow-x: hidden;
    }

    &-box {
        display: inline-block;
        text-align: left;

        -webkit-transition: opacity 0.2s ease-out;
        -moz-transition: opacity 0.2s ease-out;
        -o-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out;

        opacity: 0;

        -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.2);
        box-shadow: 0 1px 10px rgba(0,0,0,.2);

        &.opened{
            opacity: 1;
        }

        &.closed {
            opacity: 0;
        }

        &.invisible {
            height: 0;
            overflow: hidden;
        }

        &.invisible-false {
            height: auto;
        }
    }

    &-header {
        text-align: center;
        position: relative;
    }

    &-close {
        display: block;
        position: absolute;
        background: rgba(255,255,255,.8);
        top: 0;
        right: 0;
        cursor: pointer;
        z-index: 2;
        width: 50px;
        height: 50px;
        border-radius: 0 0 0 20px;
        box-shadow: 0 1px 2px rgba(0,0,0,.2);

        &:before{
            content: '';
            position: absolute;
            width: 2px;
            height: 20px;
            left: 50%;
            top: 50%;
            margin: -10px 0 0 -1px;
            background: #333;
            transform: rotate(45deg);
        }

        &:after{
            content: '';
            position: absolute;
            width: 2px;
            height: 20px;
            left: 50%;
            top: 50%;
            margin: -10px 0 0 -1px;
            background: #333;
            transform: rotate(-45deg);
        }

        &:hover {
            opacity: .8;
        }
    }

    &-content {
        padding: 30px;
        background: #f1f1f1;

        .gridder-post{
            position: static;
            transform: none!important;
        }
    }
}

.gridder-viewer{
    .gridder-popup-content{
        padding: 0;
    }

    &-display{
        min-width: 60vw;
        min-height: 60vh;
        position: relative;
        overflow: hidden;

        &-blur{
            position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
            right: 0;
            filter: blur(12px);
            opacity: .3;
            background-size: cover;
        }

        &-img{
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            max-width: 100%;
            max-height: 100%;
            transform: translateY(-50%) translateX(-50%);
            box-shadow: 0 0 10px rgba(0,0,0,.2);
        }
    }

    &-display-pointer{
        position: absolute;
        top: 50%;
        width: 30px;
        height: 50px;
        background: rgba(255, 255, 255, .3);
        cursor: pointer;
        transition: all .1s linear;
        z-index: 1;
        margin-top: -25px;

        &:before{
            content: '';
            position: absolute;
            border: 2px solid #fff;
            border-left: none;
            border-bottom: none;
            width: 16px;
            height: 16px;
            top: 50%;
            margin-top: -8px;
        }

        &.disabled{
            cursor: default;
        }

        &:hover:not(.disabled){
            width: 40px;

            &.prev:before{
                left: 12px;
            }

            &.next:before{
                right: 12px;
            }
        }

        &.prev{
            left: 0;
            border-radius: 0 50% 50% 0;
        }

        &.prev:before{
            left: 9px;
            transform: rotate(-135deg);
        }

        &.next{
            right: 0;
            border-radius: 50% 0 0 50%;
        }

        &.next:before{
            right: 9px;
            transform: rotate(45deg);
        }
    }

    &-additional{
      font-weight: 600;
        position: relative;
        padding: 30px;

        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 10px;
            background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
        }
    }

    &-wrapper{
        &.horizon{
            .gridder-viewer-additional:before{
                display: none;
            }

            .gridder-viewer-display{
                float: left;
            }

            .gridder-viewer-additional{
                float: right;
                width: 220px;
            }
        }
    }
}

.gridder-layout{
    border: 2px solid #fff;

    &-row{
        width: 100%;
        display: table;
        table-layout: fixed;
    }

    &-cell{
        display: table-cell;
        padding: 2px;
        overflow: hidden;
        border: 2px solid #fff;
        background: no-repeat center;
        background-size: cover;

        img{
            display: none;
        }
    }
}


@media (max-width: ~'@{mob-breakpoint}px') {
    .mixin-loop (@i) when (@i > 0) {
        .w-@{i} {
            width: @coll-width * @i * @mob-koeff;
        }

        .h-@{i} {
            height: @coll-width * @i * @mob-koeff;
        }

        .mixin-loop(@i - 1);
    }
    .mixin-loop(@grid-iterations);
}

@media (max-width: ~'@{breakpoint-768}px') {
    .gridder-viewer{
        .gridder-popup-content{
            padding: 0;
        }

        &-wrapper{

        }

        &-display{

        }

        &-additional{
            padding: 15px;
        }
    }

    .gridder-popup-content{
        padding: 15px;
    }

    .horizontal-photos-group-wrapper{
        height: auto!important;

        .post-horizontal{
            float: none;
            height: auto;
        }
    }

    .gridder-layout{
        border: none;

        &-row{
            height: auto!important;
            border: none
        }

        &-cell{
            display: block;
            padding: 0;
            margin: 2px;
            overflow: hidden;
            background: none;

            img{
                display: block;
                width: 100%;
            }
        }
    }
}

.nclear:after{
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

/** FIXME STYLES **/
.fixme.gridder-post-grid {
    overflow: hidden;
    .gridder-post {
        position: relative;
        float: left;
    }
}