@post-gutter-width: 10px; //расстояние между постами в гриде
@coll-width: 4vw; //размер мячеек
@grid-iterations: 24; // количество ячеек, которые может занимать пост
@mob-koeff: 2; // коэффициент увеличения постов по ширине и высоте
@mob-breakpoint: 960; // брэйкпоинт, при которых алгоритм срабатывает заново
@breakpoint-768: 768; // мобильная ширина